@import "./variables";
@import "./buttons";
@import "./paqueteria";
@import "./repartidor";
@import "./popup";
@import "./formComerciales";

/*
* Probar el fondo de blau, a petició de Jordi.
*/

body {
    margin: 0;
    font-family: $main_font;
    display: grid;
    min-height: 100vh;    
    background-color: $third_color;

    * {
        font-weight: 400;
    }

    *::before,
    *::after{
        box-sizing: border-box;
    }

    #root{
        width: 95vw;
        max-width: 1600px;
        margin: auto;
    }

    .container-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        @media (max-width: 256px) {
            flex-direction: column;
        }
    }

}
