@import "./variables";

.button-data {
    width: 7rem;
    height: 4rem;
    background: $prueba_1_buttons;
    border: none;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    color: red;           
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    margin-right: 0;
    box-shadow: none;

    p {
        margin: 0;
    }
}

button{
    background: none;
    border: none;
    box-shadow: none;
    width: 5rem;
}

.button-pagination{   
    margin: 2rem;
}

.icons-buttons--pagination{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    color: $prueba_1_text;
}

.text-pagination{
    color: $prueba_1_text;
    
}
