@import './variables';

table {
    border-collapse: separate; // Necesario para que funcione el border-radius en las celdas
    border-spacing: 0 0.5rem; // Espacio vertical entre filas    
}

tbody tr {
    &:hover {
        background-color: $prueba_1_buttons;
    
        td:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        td:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}


th{
    border-bottom: 2px solid $prueba_1_buttons;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $prueba_1_text;
    font-size: 1.5rem;
    text-align: left;
}

td {
    color: $prueba_1_text;
    padding-top: 0.5rem;
    padding-left: 1rem;    
    font-size: 1rem;    
}

.container-fecha{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.container-personalImasd{
    text-align: end;
    padding-right: 1rem;
}

.width-table_comercials{
    width: 80%;
}

.comercial-td-th{
    text-align: right;
    padding-right: 1rem;
    
}

.btn-width_setteable--comercialData{
    width: 80% !important;
}

.container-input_comercialData{
    width: 80%;
}

.input_comercialData{
    width: 80% !important;
}