@import "./variables";

table{
    width: 56%;
}

.controles-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dealer-td-th{
    text-align: right;
    padding-right: 1rem;
    
}

// td{
//     border-bottom: 1px solid $prueba_1_buttons;
    

// }
