@import "./variables";

table {
    width: 56%;
}

.controles-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dealer-td-th {
    text-align: right;
    padding-right: 1rem;

}

.container_input-buscador {
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.input-buscador {
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    background-color: $prueba_1_buttons;
    border: none;
    text-align: center;
    caret-color: $prueba_1_text;

    &::placeholder {
        text-align: center;
        color: $prueba_1_text;
        font-size: 1rem;
    }

    &:focus {
        border: none;
        outline: none;
    }

}